// VARIABLER




//Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&family=Playfair+Display:wght@400;600;800&display=swap');
$Bread:'Fira Sans', sans-serif;
$Headline:'Playfair Display', serif;





//Farver
$Dark-background:#242424;
$Light-Color:#EEE;
$Logo_blue:#30475e;
$Logo_red:#f05454;
$Offwhite:#f8f8ff;
$Light-grey:#EBEBEB;